{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
html, body{
	height: 100%;
}
.clear{
	clear: both;
}
.container{
	width: 100%
	max-width: 1280px;
	margin: 0 auto;
}
header {
	padding: 20px 2% 35px 2%;
	height: 130px;
}
header div.logo{
	float: left;
}
header nav.desktop{
	float: right;
	position: relative;
	top: 40px;	
}
header nav.desktop ul{
	list-style-type: none;
	text-transform: uppercase;
}
header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding: 0 20px;
}
header nav.desktop a{
	color: black;
	text-decoration: none;
	font-style: italic;
}
nav.mobile {
	margin-top: 40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;	
	background-image: url('../img/icon_menu.png');
	/*background-repeat: no-repeat;
	background-position: center;*/
	display: none;
}
nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 95px;
	border-bottom: 4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}
nav.mobile li{
	font-size: 23px;
	padding: 20px 0px;
	font-style: italic;
}
nav.mobile li a {
	text-decoration: none;
	color: black;
}
section.banner{
	width: 100%;
	height: 600px;
	background-color: black;
	background-image: url('../img/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.text-banner{
	padding: 100px;
}
.text-banner-single{
	margin-top: 20px;
	padding: 12px 30px;
	width: 314px;
	height: 50px;
	color: white;
	text-transform: uppercase;
	font-size: 23px;
	background-image: url('../img/box-text.png');
	background-size: 100% 100%;
	font-style: italic;
}
.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	height: 50px;
	position: relative;
	left: -10px;
}
.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	height: 50px;
	position: relative;
	left: -20px;
}
.text-banner .text-banner-single:nth-of-type(4){
	width: 320px;
	height: 50px;
	font-size: 19px;
	color: black;
	position: relative;
	left: -30px;
	background-image: url('../img/box-white-text.png');
}
section.veiculos-destaque{
	padding: 90px 2%;
}
section.veiculos-destaque h2{
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	font-style: italic;
	text-transform: uppercase;
	background-color: white;
	padding: 0 20px;
}
.line-titulo{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top: 20px;
	background-color: black;
}
section.veiculos-destaque .container{
	padding: 40 0%;
}
.line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding: 0 20px;
	margin-top: -2px;
	font-style: italic;
	text-transform: uppercase;
}
.vitrine-destaque{
	float: left;
	width: 33.3%;
}
.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}
.vitrine-destaque  h2{
	padding-left: 8px;
	color: #353535;
	font-style: italic;
	font-size: 15px; 
}
.vitrine-destaque p{
	padding-left: 5px;
	color: #353535;
	font-size: 20px;
	font-style: italic;
}
.vitrine-destaque a{
	margin-left: 8px;
	margin-top: 10px;
}
.servicos-descricao{
	display: flex;
}
.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color: #EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 20px;
	font-style: italic;
	width: 150px;
}
.half1-wraper{
	padding-right: 100px;
	display: inline-block;
	text-align: left; 
}
.half1{
	text-align: right;
	width: 50%;
	padding: 90px 0;
	background: #242424;
	color: white;
}
.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 40px;  
}
.half1-wraper ul{
	display: inline-block;
	margin-top: 25px;
}
.half1-wraper li{
	margin-left: 15px;
	margin-top: 8px;
	font-size: 20px; 
}
.half1-wraper a{
	margin-left: 30px;
	display: inline-block;
	vertical-align: bottom;
}
.half2{
	padding: 90px 100px;
	width: 50%;
	padding: 90px 0;
	background-color: #EB2D2D;
	color: white;
}
.half2 h2{
	margin-left: 30px;
	font-weight: normal;
	font-style: italic;
	font-size: 40px;
}
.half2 .depoimento-single{
	margin-top: 19px;
}
.depoimento-single p{
	font-size: 22px;
	margin-left: 30px;
}
.servicos-descricao{
	display: flex;
}
.navigation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top: 30px;
}
.arrows{
	float: left;
	margin-left: 30px;
}
.navigation img{
	cursor: pointer;
	margin: 0 20px;
}
.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}
section.contato{
	padding: 80px 2% 0 2%;
}
section.contato form{
	max-width: 600px;
	margin: 30px auto;
}
section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 7px;
}
.w100{
	width: 100%;
}
.w50{
	width: 50%;
}
section.contato input[type=text]{
	width: 100%;
	border: 1px solid #CCCCCC;
	height: 70px;
	font-size: 16px;
	height: 60px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	font-size: 16px;
	width: 100%;
	border: 1px solid #CCCCCC;
	height: 140px;
	padding: 8px;
	resize: none;
}
section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}
section.contato input[type=submit]{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	cursor: pointer;
	display: inline-block;
}
footer{
	margin-top: 20px;
	padding: 40px 2%;
	background-color: #252525;
}
footer nav{
	float: left;
}
footer p{
	float: right;
	color: white;
	font-size: 19px;
	font-style: italic;
}
footer nav ul{
	list-style-type: none;
	text-transform: uppercase;
}
footer nav ul li{
	float: left;
	font-style: italic;
	padding: 0 35px;
}
footer nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
}
section.venda{
	min-height: 90%;
	padding: 45px 0;
}
.sidebar{
	float: left;
	width: 30%;
}
.search1{
	width: 90%;
}
.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.search1 .barra-preco{
	position: relative;
	width: 100%;
	height: 20px;
	background: white;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	border-radius: 20px;
}
.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 20px;
	background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(200,200,200));
	border-radius: 20px;
}
.pointer-barra{
	position: absolute;
	left: calc(30% - 13px);
	cursor: pointer;
	top:-3px;
	width: 26px;
	height: 26px;
	border-radius: 8px;
	background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(180,180,180));
	border: 1px solid #777777;
}
.valor-pesquisa{
	margin-top: 8px;
}
.valor-pesquisa p{
	color: black;
	font-size: 18px;
}
.valor-pesquisa p:nth-of-type(1){
	float: left;
}
.valor-pesquisa p:nth-of-type(2){
	float: right;
}
.search2{
	margin-top: 10px;
}
.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.form-venda-wraper{
	margin-top: 10px;
}
.form-venda-wraper input[type=checkbox]{
	display: none;
}
.form-venda-wraper label{
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-top: 1px solid #CCCCCC;
	border-radius: 3px;
}
.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}
.circle{
	display: none;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	position: absolute;
	left: 6px;
	top: 0;
	margin-top: 7px;
}
.form-venda-wraper span{
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.vitrine-venda{
	float: left;
	width: 70%;
}
.vitrine-venda .vitrine-destaque{
	margin-top: 20px;
}
section.venda-single{
	padding: 80px 2% 0 2%;
}
section.venda-single .container{
	padding-right: 40px 0 0 0;
	text-align: center;
	max-width: 1000px;
}
.info-veiculo{
	display: inline-block;
	width: 60%;
}
.foto-destaque{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}
.descricao-veiculo{
	vertical-align: top;
	display: inline-block;
	padding: 40px 20px;
	text-align: left;
}
.descricao-veiculo p{
	font-weight: 17px;
	max-width: 200px;
	margin-top: 25px;
}
.descricao-veiculo a{
	margin-top: 25px;
}
.nav-galeria-parent{
	width: 100%;
	padding: 36px;
	position: relative;
}
.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image: url('../img/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}
.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image: url('../img/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}
.info-bread{
	padding: 30px 0;
	text-align: left;
}
.info-bread a{
	text-decoration: none;
	color: black;
}
.info-bread a:last-child{
	color: red;
}
.info-bread span{
	padding: 0 30px;
}
.nav-galeria{
	overflow: hidden;
	width: 100%;	
}
.nav-galeria-wraper{
	width: 200%;
}
.mini-img-wraper{
	float: left;
	padding: 9px;
	/*padding-top: calc(33.3% * (100 / 200) * 0.6);*/
	width: calc(33.3% * (100 / 200));
}
.mini-img{
	cursor: pointer;
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-color: green;
}
section.sobre{
	min-height: 90%;
	padding: 80px 2% 20px 2%;
}
section.sobre .container{
	max-width: 840px;
	margin-top: 30px;
}
section.sobre .img-destaque-sobre{
	width: 100%;
	padding-top: 60%;
	background-color: rgb(220,220,220);
}
section.sobre .descricao-autor{
	margin-top: 20px;
}
.descricao-autor h2{
	font-size: 24px;
}
.descricao-autor p{
	line-height: 30px;
	font-size: 16px;
	margin-top: 10px;
}
.descricao-autor2{
	margin-top:40px;
}
.img-small{
	width: 30%;
	padding-top: 30%;
	float: left;
	background-color: rgb(220,220,220);
}
.descricao-autor3 p{
	padding: 15px;
	float: left;
	width: 70%;
	line-height: 30px;
}
@media screen and (max-width: 1100px){
	.half1{
		text-align: center;
	}
	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}
@media screen and (max-width: 850px){
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}
@media screen and (max-width: 1400px){
	section.banner{
		background-size: 90% auto;
		background-position: 200% 100%;
	}
}
@media screen and (max-width: 1024px){
	section.banner{
		background-size: cover;
		background-position: center;
		height: 70vw;
		min-height: 500px;
	}
}
@media screen and (max-height: 768px){
	.info-veiculo{
		width: 100%;
	}
	.descricao-veiculo p{
		max-width: none;
	}
	.descricao-veiculo{
		padding: 20px 0;
		text-align: center;
	}
	.descricao-veiculo a{
		display: inline-block;
	}
	.search2{
		display: inline-block;
		text-align: left;
	}
	.search1{
		display: inline-block;
	}
	.sidebar{
		width: 100%;
		text-align: center;
	}
	.vitrine-venda{
		overflow: hidden;
		float: left;
		width: 100%;
		text-align: center;
	}
	footer nav{
		display: none;
	}
	footer{
		text-align: center;
	}
	footer p{
		float: none;
	}
	.w50{
		width: 100%; 	
	}
	section.servicos-descricao{
		flex-direction: column;
	}
	.half1, .half2{
		width: 100%;
		padding: 80px 4%;
	}
	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}
	section.banner{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}
}
@media screen and (max-width: 580px){
	.img-small{
		width: 100%;
		padding-top: 100%;
	}
	.descricao-autor2 p{
		width: 100%;
		padding: 20px 0; 
	}
	.text-banner{
		padding: 30px;
	}
	.text-banner-single{
		font-size: 18px;
	}
	section.veiculos-destaque .container{
		text-align: center;
	}
	.vitrine-destaque{
		display: inline-block;
		float: none;
		width: 80%;
		margin-top: 20px;
	}
	.vitrine-destaque a{
		display: inline-block;
	}
}
@media screen and (max-width: 480px){
	.vitrine-destaque{
		width: 100%;
	}
}